.about{
    margin-top: 80px;
    
   
}
.about h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(17, 17, 17);
   
}


.about .about_choose_me{
    text-align: center;
    color: rgb(17, 17, 17);
    font-style: italic;
    font-weight: 300;
    
   
}

.about_flex{
    display: flex;  
    margin-top: 35px !important;
}
.about_left{
    width: 50%;
   
}
.about_image{
    margin-left: auto;
    width: 100%;
    height: 500px;
    background: url('../../assets/About/me2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   background-position-y: 20%;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
  
  
}
.about_right{
    width: 50%;
    position: relative;
   
   
}
.about_right_Text{
    width: 100%;
    height: 500px;
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about_right_Text p{
    margin: 0 auto;
    width: 90%;
   
   
    padding-top:25px;
    font-size: 14px;
  
    
}

.about_right_circle{
    width: 12px;
    height: 12px;
    background: var(--dark-orange);
    display: block;
    border-radius: 50%;
    margin-right:8px;
   
}
.profile-options_about{
    margin-top: 50px;
}
.about_right_btn{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.about_highlighted-btn{
    position: absolute;
    right: 0;
}